<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamphony.store.mapper.MemberMapper">

	<resultMap type="Member" id="memberMap">
		<result property="alias" column="alias" />
		<result property="password" column="paaword" />
		<result property="imagePath" column="imagePath" />
		<association property="starPoint" column="id" select="teamphony.store.mapper.MemberMapper.getStarPoint" javaType="double" jdbcType="DOUBLE" />
	</resultMap>
	
	<insert id="insertMember" parameterType="Member">
		insert into Member_tb(id, password, alias, imagePath) values(#{memberId}, #{password}, #{alias}, #{imagePath})
	</insert>
	
	<select id="selectMemberByMemberId" parameterType="String" resultMap="memberMap">
		select id As memberId, password, alias, imagePath
		from member_tb
		where id = #{memberId}
	</select>
	
	<update id="updateMember" parameterType="Member">
		update Member_tb set password = #{password}, alias = #{alias}, imagePath=#{imagePath} where id = #{memberId}
	</update>
	
	<delete id="deleteMember" parameterType="String">
		delete from Member_tb where id = #{memberId} cv
	</delete>
	
	<insert id="evaluation" parameterType="map">
		insert into evalution_tb(memberId, starPoint) values(#{memberId},#{starPoint})
	</insert>
	
	<select id="getStarPoint" parameterType="String" resultType="double">
		select sum(starPoint)/count(starPoint) As starPoint from evaluation_tb where memberId = #{id}
	</select>

</mapper>