<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamphony.store.mapper.PlaceMapper">

	<insert id="insertPlace" parameterType="Place">
		INSERT INTO PLACE_TB (ID, NAME,ADDRESS,PHONE_NUMBER,CONTENTS,HOLIDAY,BUSINESS_HOURS)
		VALUES (place_seq.nextval
				,#{name}
				,#{address}
				,#{phoneNum}
				,#{contents}
				,#{holiday}
				,#{businessHour}
				)
	</insert>
	
	<update id="updatePlace" parameterType="Place">
		UPDATE PLACE_TB
		SET 
		NAME = #{name}
		,ADDRESS  = #{address}
		,PHONE_NUMBER = #{phoneNum}
		,CONTENTS = #{contents}
		,HOLIDAY  = #{holiday}
		,BUSINESS_HOURS = #{businessHour}
		WHERE ID = #{placeId}
	</update>

	<delete id="deletePlace" parameterType="int">
		DELETE place_tb
		WHERE id = #{id}
	</delete>

	<select id="selectAllPlace" resultType="Place">
		SELECT id AS placeId,
			   name, 
			   address,
			   phone_Number AS phoneNum,
			   contents,
			   holiday,
			   business_Hours AS businessHour
		FROM place_tb
	</select>
	
	<select id="selectPlaceByPlaceId" resultType="Place" parameterType="int">
		SELECT id AS placeId,
			   name, 
			   address,
			   phone_Number AS phoneNum,
			   contents,
			   holiday,
			   business_Hours AS businessHour
		FROM place_tb
		WHERE id = #{id}
	</select>
	
	<select id="selectPlaceByPlaceName" resultType="Place" parameterType="String">
		SELECT id AS placeId,
			   name, 
			   address,
			   phone_Number AS phoneNum,
			   contents,
			   holiday,
			   business_Hour AS businessHour
		FROM PLACE_TB
		WHERE name LIKE '%' || #{name} || '%'
	</select>
	
	<select id="selectPlaceByPlaceAddress" resultType="Place" parameterType="String">
		SELECT ID AS placeId,
			   name, 
			   address,
			   phone_Number AS phoneNum,
			   contents,
			   holiday,
			   business_Hour AS businessHour
		FROM PLACE_TB
		WHERE address LIKE '%' || #{address} || '%'
	</select>

	<insert id="addFile" parameterType="String">
		INSERT INTO PLACEFILE_TB (FULLNAME, ID)
		VALUES (#{fullName}, (SELECT ID FROM PLACE_TB WHERE ID=(SELECT MAX(ID) FROM PLACE_TB)))
	</insert>	
	
	<select id="getFile" resultType="String" parameterType="int">
		SELECT FULLNAME 
		FROM PLACEFILE_TB
		WHERE ID = #{placeId}
	</select>
	
	<delete id="deleteFile" parameterType="int">
		DELETE 
		FROM PLACEFILE_TB
		WHERE ID = #{placeId}
	</delete>
	
	<insert id="replaceFile" parameterType="Map">
		INSERT INTO PLACEFILE_TB (FULLNAME, ID)
		VALUES (#{fullName}, #{placeId})
	</insert>
</mapper>