<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamphony.store.mapper.ScheduleMapper">

	<insert id="insertSchedule" parameterType="Schedule">
		INSERT INTO schedule_tb (id, start_Date, end_Date, title, place, contents, team_Code)
		VALUES (Schedule_seq.nextval
		,#{startDate, jdbcType=VARCHAR}
		,#{endDate, jdbcType=VARCHAR}
		,#{title, jdbcType=VARCHAR}
		,#{place, jdbcType=VARCHAR}
		,#{contents, jdbcType=VARCHAR}
		,#{teamCode, jdbcType=INTEGER})
	</insert>

	<update id="updateSchedule" parameterType="Schedule">
		UPDATE schedule_tb
		SET 
		start_Date = #{startDate}, end_Date = #{endDate}, title = #{title}, place = #{place}, contents = #{contents}
		WHERE id = #{scheduleId}
	</update>
	
	<delete id="deleteSchedule" parameterType="int">
		DELETE schedule_tb
		WHERE id = #{id}
	</delete>
	
	<select id="selectSchedulesByTeamCode" resultType="Schedule" parameterType="int">
		SELECT id AS scheduleId
				, start_Date AS startDate
				, end_Date AS endDate
				, title
		FROM schedule_tb
		WHERE team_Code = #{teamCode}
	</select>
	
	<select id="selectScheduleByScheduleId" resultType="Schedule" parameterType="int">
		SELECT id AS scheduleId
		, start_Date AS startDate
		, end_Date AS endDate
		, title
		, place
		, contents
		FROM schedule_tb
		WHERE id = #{id}
	</select>
</mapper>