<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamphony.store.mapper.TaskMapper">

	<!-- <resultMap type="Task" id="taskMap"> </resultMap> -->




	<insert id="insertTask" parameterType="task">
		<selectKey resultType="int" keyProperty="taskId" order="BEFORE">
			SELECT task_tb_id_seq.nextval FROM DUAL
		</selectKey>
		insert into task_tb(
		id
		,TITLE
		,CONTENTS
		,DEADLINE
		,FLAG
		,POINT
		)
		values(
		#{taskId}
		,#{title}
		,#{contents, jdbcType=VARCHAR}
		,#{deadline ,
		jdbcType=DATE}
		,#{flag , jdbcType=INTEGER}
		,#{point , jdbcType=INTEGER}
		)
	</insert>

	<insert id="insertTaskFile" parameterType="taskFile">
		INSERT INTO
		TASKFILE_TB(
		SUBMISSIONID
		,FILEPATH
		)
		VALUES(
		#{submissionId}
		,#{filePath}
		)
	</insert>

	<update id="updateTask" parameterType="task">
		UPDATE TASK_TB
		SET
		ID =
		#{taskId}
		,TITLE = #{title}
		,CONTENTS = #{contents}
		,DEADLINE =
		#{deadline , jdbcType=DATE}
		,EVALUATIONPERIOD = #{evaluationPeriod ,
		jdbcType=DATE}
		,FLAG = #{flag , jdbcType=INTEGER}
		,POINT = #{point ,
		jdbcType=INTEGER}
		WHERE ID = #{taskId}
	</update>

	<update id="updateTaskFile" parameterType="taskFile">
		UPDATE TASKFILE_TB
		SET
		SUBMISSIONID = #{submissionId}
		,FILEPATH =#{filePath}

		WHERE SUBMISSIONID
		= #{submissionId}
	</update>

	<select id="selectAllTask" resultType="Task">

		select
		t.id AS taskId
		,t.TITLE
		,t.CONTENTS
		,t.DEADLINE
		,t.EVALUATIONPERIOD
		,t.FLAG
		,t.POINT
		,f.FILEPATH
		from task_tb t, taskFile_tb f
		where t.id =
		f.submissionId

	</select>

	<select id="selectAllTaskFile" resultType="TaskFile">
		SELECT

		SUBMISSIONID
		,FILEPATH
		FROM
		TASKFILE_TB(
	</select>


	<select id="selectTaskByTaskId" resultType="Task">

		select

		ID AS taskId
		,TITLE
		,CONTENTS
		,DEADLINE
		,EVALUATIONPERIOD
		,FLAG
		,POINT AS point
		from
		task_tb
		where id= #{taskId}

	</select>

	<select id="selectTaskByMemberId" resultType="task">
	</select>

	<delete id="deleteTask" parameterType="int">
		delete
		from task_tb
		where id
		=#{taskId}
	</delete>


	<!--추가했음 -->
	<delete id="deleteTaskFile" parameterType="int">
		DELETE FROM
		TASKFILE_TB
		WHERE 1=1
		AND SUBMISSIONID = #{taskId}
	</delete>

	<resultMap type="Task" id="taskDetail">

		<id property="taskId" column="TASK_ID" />
		<result property="title" column="TASK_TITLE" />
		<result property="contents" column="TASK_CONTENTS" />
		<result property="deadline" column="TASK_DEADLINE" />
		<result property="evaluationPeriod" column="TASK_EVALUATIONPERIOD" />
		<result property="flag" column="TASK_FLAG" />
		<result property="point" column="TASK_POINT" />
		<!-- <collection property="taskFileList" column="TASK_ID" ofType="TaskFile" 
			select="teamphony.store.mapper.TaskMapper.selectTaskDetail" javaType="ArrayList" 
			jdbcType="NUMERIC"> </collection> -->
	</resultMap>

	<select id="selectTaskDetail" resultMap="taskDetail">

		SELECT
		T.ID AS TASK_ID
		,T.TITLE AS TASK_TITLE
		,T.CONTENTS AS TASK_CONTENTS
		,T.DEADLINE AS
		TASK_DEADLINE
		,T.EVALUATIONPERIOD AS TASK_EVALUATIONPERIOD
		,T.FLAG AS
		TASK_FLAG
		,T.POINT AS TASK_POINT
		,TF.SUBMISSIONID AS
		TASKFILE_SUBMISSIONID
		,TF.FILEPATH AS TASKFILE_FILEPATH
		FROM TASK_TB T ,
		TASKFILE_TB TF
		WHERE T.ID =
		TF.SUBMISSIONID
		AND T.ID = #{taskId}

	</select>

	<select id="selectFileList" resultMap="TaskFile">


		select
		f.submissionId
		,f.FILEPATH
		from task_tb t, taskFile_tb f
		
		where t.id = f.submissionId
		and
		t.id = #{taskId};

	</select>




</mapper>