<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamphony.store.mapper.TaskMapper">

	<!-- <resultMap type="Task" id="taskMap"> </resultMap> -->



	<insert id="insertTask" parameterType="task">

	</insert>

	<update id="updateTask" parameterType="String">

	</update>


	<delete id="deleteTask" >

	</delete>


	<select id="selectAllTask" resultType="Task">
		select

		id AS taskId
		,TITLE 
		,CONTENTS
		,DEADLINE
		,EVALUATIONPERIOD
		,FLAG
		,POINT
		from task_tb


	</select>


	<select id="selectTaskByTaskId" resultType="task">

		select

		ID AS taskId
		,TITLE 
		,CONTENTS 
		,DEADLINE 
		,EVALUATIONPERIOD
		,FLAG
		,POINT AS point
		from task_tb
		where id= #{taskId}

	</select>

	<select id="selectTaskByMemberId" 
		resultType="task">

	</select>





</mapper>