<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamphony.store.mapper.TaskMapper">

<insert id="insertAssignment" parameterType="task">
		<selectKey resultType="int" keyProperty="taskId" order="BEFORE">
			SELECT TASK_TB_ID_SEQ.NEXTVAL
			FROM DUAL
		</selectKey>
			INSERT
			INTO TASK_TB
			(
				ID
				,TITLE
				,CONTENTS
				,DEADLINE
				,FLAG
				,EVALUATIONPERIODSTART
				,EVALUATIONPERIODEND
				,POINT
				,EVALUATED 
				,EVALUATIONCNT
				,TEAMCODE
			)
			VALUES
			(
				#{taskId}
				,#{title}
				,#{contents, jdbcType=VARCHAR}
				,#{deadline, jdbcType=VARCHAR}
				,#{flag, jdbcType=INTEGER}
				,#{evaluationPeriodStart, jdbcType=VARCHAR}
				,#{evaluationPeriodEnd, jdbcType=VARCHAR}
				,#{point, jdbcType=INTEGER}
				,#{evaluated, jdbcType=INTEGER}
				,#{evaluationCnt, jdbcType=INTEGER}
				,#{teamCode, jdbcType=INTEGER}
			)
	</insert> 
	
	<insert id="insertTaskMemberForAssignment" >
			INSERT
			INTO TASKMEMBER
			(
				ASSIGNMENTID
				,MEMBERID
				,ASSIGNMENT_TITLE
			)
			VALUES
			(	#{taskId}
				,#{memberId }
				,#{assignmentTitle }
			)
	
	
	</insert>
	 
	
	
	<update id="updateTaskMemberForSubmission">
			UPDATE TASKMEMBER
				SET SUBMISSIONID			=(SELECT ID FROM TASK_TB WHERE ID=(SELECT MAX(ID) FROM TASK_TB))
				WHERE ASSIGNMENTID			= #{assignmentId}
				AND MEMBERID				= #{loginedMemberId }
	</update>
	
	<insert id="insertSubmission" parameterType="task">
		<selectKey resultType="int" keyProperty="taskId" order="BEFORE">
			SELECT TASK_TB_ID_SEQ.NEXTVAL
			FROM DUAL
		</selectKey>
			INSERT
			INTO TASK_TB
			(
				ID
				,TITLE
				,CONTENTS
				,FLAG
				,POINT
				,EVALUATED 
				,EVALUATIONCNT
				,TEAMCODE
			)
			VALUES
			(
				#{taskId}
				,#{title}
				,#{contents, jdbcType=VARCHAR}
				,#{flag, jdbcType=INTEGER}
				,#{point, jdbcType=INTEGER}
				,#{evaluated, jdbcType=INTEGER}
				,#{evaluationCnt, jdbcType=INTEGER }
				,#{teamCode, jdbcType=INTEGER}
			)
	</insert>  
	

	<insert id="insertTaskFile" parameterType="taskFile">
			INSERT INTO
				TASKFILE_TB
				(
					SUBMISSIONID
					,FILEPATH
				)
				VALUES
				(
					#{submissionId}
					,#{filePath}
				)
	</insert>
	
	<select id="selectAllTaskByFlag" parameterType="map" resultType="Task">
			SELECT 
				ID							AS taskId
				,TITLE                  
				,CONTENTS              
				,DEADLINE              
				,EVALUATIONPERIODSTART 
				,EVALUATIONPERIODEND    
				,FLAG                   
				,POINT
				,EVALUATED
				,EVALUATIONCNT
				,TEAMCODE
			FROM TASK_TB            
				WHERE FLAG = #{flag} AND TEAMCODE = #{teamCode}
				ORDER BY ID ASC
				
	</select>
	
	<select id="selectTaskMemberByAssignmentId" parameterType="int" resultType="TaskMember">
			SELECT 				
				ASSIGNMENTID
				,MEMBERID
				,SUBMISSIONID
				,ASSIGNMENT_TITLE
				,COMMITTED
			FROM TASKMEMBER 
				WHERE ASSIGNMENTID = #{taskId }
	</select>
	
	<select id="selectMemberIdByAssignmentId" parameterType="int"  resultType="String">
			SELECT 
				MEMBERID 
				FROM TASKMEMBER 
			WHERE ASSIGNMENTID = #{taskId}
			ORDER BY ASSIGNMENTID ASC
	</select>
	
	
	<select id="selectMemberIdBySubmissionId" parameterType="int" resultType="String">
			SELECT 
				MEMBERID 
				FROM TASKMEMBER 
			WHERE SUBMISSIONID = #{taskId}
			ORDER BY SUBMISSIONID ASC
	</select>
	
	<select id="selectAllFileList" resultType="TaskFile">
		SELECT 
			SUBMISSIONID
			,FILEPATH 
		FROM TASKFILE_TB
	</select>
	
	<select id="selectFileListByTaskId" parameterType="int" resultType="TaskFile">
		SELECT 
			SUBMISSIONID, FILEPATH 
			FROM TASKFILE_TB 
			WHERE SUBMISSIONID = #{taskId}
	</select>
	
	
	<select id="selectTaskByTaskId" parameterType="int" resultType="Task">
			SELECT 
				ID						AS taskId
				,TITLE                  
				,CONTENTS              
				,DEADLINE               
				,EVALUATIONPERIODSTART 
				,EVALUATIONPERIODEND 
				,EVALUATED
				,EVALUATIONCNT
				,FLAG                   
				,POINT
				,TEAMCODE                  
   			FROM TASK_TB 
			WHERE ID= #{taskId}  
		
	</select>
	
	<select id="selectAssignmentIdByMemberId" parameterType="String" resultType="int">
			SELECT 
				ASSIGNMENTID
				FROM TASKMEMBER
				WHERE MEMBERID = #{memberId}
	</select>
	
	<select id="selectSubmissionIdByMemberId" parameterType="String" resultType="int">
			SELECT 
				SUBMISSIONID
				FROM TASKMEMBER
				WHERE MEMBERID = #{memberId}
	</select>
	
	<select id="selectAssignmentTitleBySubmissionId" parameterType="int" resultType="String">
			SELECT 
				ASSIGNMENT_TITLE
				FROM TASKMEMBER 
				WHERE SUBMISSIONID = #{task.taskId }
				ORDER BY SUBMISSIONID ASC
	</select>
	
	
	<update id="updateTask" parameterType="task">
			UPDATE TASK_TB		
				SET
				ID =						#{taskId, jdbcType= INTEGER}
				,TITLE =					#{title, jdbcType= VARCHAR}
				,CONTENTS =					#{contents, jdbcType= VARCHAR}
				,DEADLINE =					#{deadline , jdbcType= VARCHAR}
				,EVALUATIONPERIODSTART =	#{evaluationPeriodStart ,jdbcType= VARCHAR}
				,EVALUATIONPERIODEND =		#{evaluationPeriodEnd ,jdbcType= VARCHAR}
			WHERE ID = #{taskId}
	</update>
	
	<update id="updateTaskPoint" parameterType="task">
			UPDATE TASK_TB
				SET POINT				= #{point, jdbcType=INTEGER}
					,EVALUATIONCNT		= #{evaluationCnt, jdbcType=INTEGER}
					,EVALUATED			= #{evaluated, jdbcType=INTEGER }
			WHERE ID					= #{taskId}
	</update>
	
	<delete id="deleteTaskMember" parameterType="int">
			DELETE
			FROM TASKMEMBER 
			WHERE ASSIGNMENTID		= #{taskId}
	
	</delete>
	
	<delete id="deleteTask" parameterType="int">
			DELETE
			FROM TASK_TB
			WHERE ID	= #{taskId}
	</delete>
	
	<delete id="deleteTaskFile" parameterType="int">
		DELETE 
		FROM TASKFILE_TB
		WHERE SUBMISSIONID			= #{taskId}
	</delete>

	<delete id="deleteMemberIdByTaskId" >
		DELETE 
		FROM TASKMEMBER
		WHERE ASSIGNMENTID = 		#{taskId}
	</delete>	
	
	<select id="selectAllAssginment" resultType="Task">
		select 
		ID AS taskId
			,TITLE
			,CONTENTS
			,DEADLINE
			,EVALUATIONPERIODSTART
			,EVALUATIONPERIODEND
			,EVALUATED, EVALUATIONCNT
			,FLAG
			,POINT
			,TEAMCODE
		from Task_tb where flag=0
	</select>

</mapper>