<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamphony.store.mapper.TeamMapper">


	<select id="selectTeamsByMemberId" parameterType="String"
		resultType="Team">

		SELECT CODE, CYCLE, ENDDATE, LEADERID, NAME
		FROM TEAM_TB
		WHERE CODE in (SELECT TEAMCODE FROM BELONG_TB WHERE MEMBERID =
		#{memberId})


	</select>


	<select id="selectTeamByTeamCode" parameterType="int"
		resultType="Team">

		SELECT CODE, CYCLE, ENDDATE, LEADERID, NAME
		FROM TEAM_TB
		WHERE CODE = #{teamCode}

	</select>

	<select id="selectMembersByTeamCode" parameterType="int"
		resultType="Member">


		SELECT ID, PASSWORD, ALIAS, IMAGEPATH
		FROM MEMBER_TB
		WHERE ID IN
		( SELECT MEMBERID FROM BELONG_TB WHERE TEAMCODE = #{teamCode})


	</select>



	<insert id="insertTeam" parameterType="Team">
		INSERT INTO TEAM_TB(CODE,
		CYCLE, ENDDATE, LEADERID, NAME)
		VALUES (#{code}, #{cycle}, #{endDate},
		#{leaderId}, #{name})

	</insert>



	<insert id="insertBelong">

		INSERT INTO BELONG_TB(TEAMCODE, MEMBERID)
		VALUES(#{teamCode}, #{memberId})


	</insert>



</mapper>